
$grey: #636363;
$orange: #ea6e27;
$green: #1c9b23;

body,
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    width:100%; 
    height: 100%;
    font-size: 1.2rem;
    font-weight: 500;;
    min-height: 100%!important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $grey!important;
}

.color{
    color:$grey;
}

.navbar{
    opacity: 1;
    background-color: #fff;
    z-index: 5;
    .nav-link{
    column-gap: 2rem;
        &:hover{
            color:$orange!important;
        }
    }
}
.section-top{
    h1{
    color: $green!important;
    max-width: 17rem;
    }
}
.img{
    max-width:60%!important;
}

h2{
    color: $orange!important;
    padding-left:2rem;
}

h3{

    font-size: 1.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-img{
    width:180px;
}

.row>* {
max-width: 95%!important;
.slick-slide img{
    object-fit: contain!important;
}
}
.text{
    max-width: 80%;
    margin:auto;
    a{
        color: $green;
        text-decoration: none;
        font-weight: 700;
    }
}

.service{
    border-radius: 10px;
    font-size: 1rem;
    .card {
        border-radius:10px!important;
        background-color: rgba(18, 126, 23,0.1);
    }
    .card-body{
        padding-bottom: 0;
        margin-bottom:0;
    }
    .border-bottom{
        border-color: $orange!important;
    }
}

.bike{
    column-gap: 3rem;
    h4{
        text-transform:uppercase;
        padding-bottom: 5px;
        border-bottom: 3px solid $green;
    }
    a{
        color: $green;
        font-weight: 700;
        text-decoration: none!important;
        &:hover{
            color: $orange;
        }
    }
    .img-bike{
        box-shadow: 3px 3px 5px $grey;
    }
}

.footer{
    background-color: rgba(18, 126, 23,0.4);
    font-size: 0.8rem!important;
    line-height: 1.15;
    opacity: 1;
    z-index: 5;
    & a:hover{
        color: #fff!important;
        font-weight: 700;
        z-index: 5;
    }
}

//page location.html
.location{
    background-image: url("images/background-location-velo-plage-grande-motte-1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.title{
    max-width : 100%;
}
.price{
    max-width: 80%;
    padding-top: 10rem!important;
    color: $green;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgba(18, 126, 23,0.1);
}

.table{
    border: 2px solid $grey;
}

.form {
    z-index: 6;
    width:80%;
    margin:auto;
    h3{
        font-size: 2rem;   
    }
}
label{
    font-weight: 700!important;
    z-index: 6;

}

.form-field{
    padding: 12px;
    border: 1px solid $orange;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    outline: none;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
    box-shadow: label{
        font-weight: 700!important;
    }
    
    .form-field{
        padding: 12px;
        border: 1px solid $orange;
        border-radius: 8px;
        margin-top: 10px;
        width: 100%;
        outline: none;
        font-size: 1.2rem;
        margin-bottom: 10px;
        box-shadow: label{
            font-weight: 700!important;
        }
        
        .form-field{
            padding: 12px;
            border: 1px solid $orange;
            border-radius: 8px;
            margin-top: 10px;
            width: 100%;
            outline: none;
            font-size: 1.2rem;
            margin-bottom: 10px;
            box-shadow: 3px 3px 3px  #000;
            &:focus{
                background-color: rgba(255, 228, 196, 0.8);
            }
        }
        .form-control:focus{
            outline: none;
            box-shadow: 3px 3px 3px  #000;
            border-color: $orange;
        }
        &:focus{
            background-color: rgba(255, 228, 196, 0.8);
        }
    }
    .form-control:focus{
        outline: none;
        box-shadow: $orange;
        border-color: $orange;
    }
    &:focus{
        background-color: rgba(255, 228, 196, 0.8);
    }
}
.form-control:focus,
.form-control:active{
    outline: none!important;
    box-shadow: 2px solid #636363;
    border-color: $orange!important;
    box-shadow: none;
}
.btn_enter{
    background-color: $orange;
    border-radius: 10px;
    transition: all 300ms;
    border:3px solid rgb(116, 115, 115);
    padding: 8px 12px;

    &:hover{
        transform: scale(1.05);
        background-color: rgba(18, 126, 23,0.3);
        color: #000;
    }
}

.rgpd{
    max-width: 80%;
    margin:auto;
    z-index: 10;
}

// PAGE CONTACT
.mappy{
    img{
        box-shadow: 5px 5px 4px  #636363;
        border-radius: 10px;;
    }
}

.slogan{
    padding: 0!important;
    max-width: 80%;
    margin: auto;
}


@media screen and (max-width: 580px) {
    .footer{
        flex-direction: column;
    }
    .text{
        max-width: 95%;
    }
}

@media screen and (max-width:850px){
    h1{
        max-width: 13rem;
    }
    .bike{
        max-width: 95%;
    }
    .section-top{
        display: flex;
        flex-direction: column;
        .img{
            max-width: 80%!important;
        }
    }
}

@media screen and ( max-width:1000px){
    .mappy{
        display: flex;
        flex-direction: column!important;
        div,
        iframe{
            width: 80%!important;
            margin:auto;
        }
        iframe{
            margin-top:2rem;
        }
    }
    .nav-link{
        padding-left:1rem!important;
    }
}