
$grey: #636363;
$orange: #ea6e27;
$vert: #127e17;

body,
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    width:100%; 
    height: 100%;
    font-size: 1.2rem;
    min-height: 100%!important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $grey!important;
}


.color{
    color:$grey;
}


.navbar{
    position: fixed;
    opacity: 1;
    background-color: #fff;
    z-index: 5;
}
.nav-link{
    column-gap: 2rem;
    &:hover{
        color:$orange!important;
    }
}

h2{
    color: $vert;
}

h3{
    color: $orange;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.service{
    border-radius: 10px;
    font-size: 1rem;
    .card {
        border-radius:10px!important;
    }
    .card-body{
        padding-bottom: 0;
        margin-bottom:0;
    }
    .border-bottom{
        border-color: $orange!important;
    }
}